.Banner{
    width:100%;
    align-items: center;
    margin:auto;
    background-image: url("../../images/headerbackgorund.webp");
    background:no-repeat left cover;
    /* background-repeat: no-repeat;
    background-size: cover; */
}
.BannerSlideContainer{
    width: 80%;
    display: flex;
    border:1px solid red;
    align-items: center;
    align-items: right;
    right:0;
    align-self: last baseline;
}
.HeaderBannerSlider{
    width:15rem;
    height:15em;
}
.HeaderBannerSlider img{
    object-fit: contain;
    width:100%;
}